# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.gitignore
/JPAMappingSettings.xml
/POJOGeneratorSettings.xml
/compiler.xml
/encodings.xml
/jarRepositories.xml
/material_theme_project_new.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
